<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/style.css" />
	
	</head>
	<body>
		<a href="#skip" class="skip-link">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}

			<div class="container mx-auto bg-white p-4 rounded-md shadow-md">
    <h1 class="text-2xl font-bold text-indigo-700 mb-4">Hello, Tailwind CSS!</h1>
    <p class="text-gray-700">This is a simple test to check if Tailwind CSS is properly integrated into your 11ty project. If you see styled content below, it's working!</p>
    <div class="mt-4">
      <button class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-700">Click me</button>
    </div>
  </div>
		</main>

		<footer></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
